.sidebar {
    width: 320px;
    height: 100%;
    position: absolute;
    z-index: 2;
    left: -320px;
}

.sidebar.open {
    left: 0px;
    background: white;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-left: 70px;
    box-shadow: 0px 10px 40px rgba(29, 33, 38, 0.13), 0px 1px 2px rgba(29, 33, 38, 0.1);
transition: 0.2s;
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: black;
    opacity: 0.5;
    z-index: 1;
}

.nav {
    color: black;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.nav a {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    padding-bottom: 30px;
    color: black;
    text-decoration-line: none;
}

.nav a:hover {
    color: #58ACFF;
}

.nav a.active {
    text-decoration-line: underline;
    color: #a600b2;
}

.close {
    background: white;
    border: none;
    align-self: end;
    padding: 25px;
}

.close img {
}
