.input:focus {
}

.input {
	width: 276px;
	height: 36px;
	box-sizing: border-box;
	padding: 8px 24px;
	border: 1px solid #D1D1D1;
	border-radius: 5px;
	outline:none
}

.inputWrapper {
	display: flex;
	flex-direction: column-reverse;
	}

.superInput {

}

.errorInput {
	border:1px solid red;
}

.errorInput:focus {
}

.error {
	color:red;
}
