.item {
    height: 36px;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 14px;
    padding-left: 20px;

}

.item:last-of-type {
}

.users {
    width: 600px;
}

.buttonsContainer {
    width: 440px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    margin-left: 165px;

}

.container {
}

.thead {
    height: 36px;
    background: #E5E5E5;
    font-weight: 600;
    font-size: 14px;
}

.nameCol {
    padding-left: 20px;
}

.ageCol {
    padding-left: 20px;
    font-weight: 600;
}